@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(img64003.whqc_640x462q80.webp);
}

.head{
    font-family: 'Poppins',sans-serif;
    width: 400px;
    position: relative;
    background-color: white;

    padding: 10px;

    border-radius: 5px;
    left: 30%;
    

}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

}

.card h2 {
    margin-top: 0;
}

.card p {
    margin-bottom: 5px;
}
